<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>University Records</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">University Records</a>
    </header>
    <main>
        <h1>University Records</h1>
        <nav>
            <ul>
                {% for entity, details in entities.items %}
                    <li><a href="{% url 'entity-list' entity %}">{{ details.1 }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </main>
</body>
</html>